@import "tailwindcss";

/* * {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0px auto;
    width: 950px;
}
header {
    border: 1px solid #000;
    width: 100%;
    display: flex;
}

img {
    width: 150px;
}
nav {
    width: 85%;
}

.menu {
    display: flex;
    justify-content: end;
    margin-top: 20px
}

.menu li, .res-menu li {
    list-style-type: none;
    padding: 10px;
}
.res-menu li {
    padding: 5px 0;
}
.res-card{
    display: flex;
    flex-wrap: wrap;
}

.res-card a {
    color: black;
    text-decoration: none;
}
.res-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 18px;
    line-height:20px;
    max-width: min-content;
}

.delivery-time {
    padding-left: 10px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating-icon {
    padding-right: 2px;
}

.btn {
    margin: 10px;
}
.shimmerContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.shimmerBox {
    background-color: #d3d3d3;
    width: 150px;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}
.btn-login{
    display: flex;
    margin-right: 20px;
    padding: 5px;
    align-items: center;
}
.search-filter {
    display: flex;
}
.search-container {
    margin: 10px;
}
.resData {
    margin: 15px;
    line-height: 30px;
} */