* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0px auto;
    width: 950px;
}
header {
    border: 1px solid #000;
    width: 100%;
    display: flex;
}

img {
    width: 150px;
}
nav {
    width: 85%;
}

ul {
    display: flex;
    justify-content: end;
}

ul li {
    list-style-type: none;
    padding: 10px;
}
.res-card{
    display: flex;
}
.res-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    line-height:20px
}

.delivery-time {
    padding-left: 10px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating-icon {
    padding-right: 2px;
}